@(grooveForm: play.data.Form[models.Groove])

@import helper._
@import helper.twitterBootstrap._

    @*public String name;*@
    @*public String description;*@

    @*public String verificationMechanism;*@
    @*public String verificationFrequency;*@
    @*public Date lastVerification;*@

    @*public Date createdAt;*@


@main("blah blah") {
    @helper.form(action = routes.Grooves.create) {

        <fieldset>
            <legend>Add a groove</legend>

            @inputText(
                grooveForm("name"),
                '_label -> "Name",
                '_help -> "Name your groove",
                '_error -> grooveForm.globalError
            )

            @textarea(
                grooveForm("description"),
                args = 'rows -> 3, 'cols -> 50,
                '_label -> "I want to",
                '_help -> ""
            )

            @textarea(
                grooveForm("motivation"),
                args = 'rows -> 3, 'cols -> 50,
                '_label -> "so that",
                '_help -> "Why do you want to get in this groove?"
            )
        </fieldset>
        <fieldset>
            <legend>Check in</legend>

            @inputRadioGroup(
                grooveForm("verificationFrequency"),
                options = Seq("DAY" -> "Day", "WEEK"->"Week"),
                '_label -> "every",
                '_help -> ""
            )

            <!--
            @select(
                grooveForm("verificationMechanism"),
                options = Seq("Select a tool" -> "",
                    "GITHUB" -> "GitHub",
                    "JAWBONE"->"Jawbone" ,
                    "MANUAL"->"I'll enter data myself"

                ),
                '_label -> "watch my progress on"

            ) -->


        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Create">
            <a href="@routes.Application.index()" class="btn">Cancel</a>
        </div>

        <script>
            $(function(){
                $("#nav-addgroove").addClass("active");
            })
        </script>
    }
}
